body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.position-relative {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.927); /* Adjust the alpha value (0.5 for 50% transparency) */
}


@media (min-width: 1000px) {

  /* lg */
  .w-lg-70 {
    width: 60%;
  }

  .w-login-70 {
    width: 30%;
  }
}

@media (min-width: 600) {

  /* md */
  .w-md-90 {
    width: 80%;
  }

  .w-login-md-70 {
    width: 50%;
  }
}

@media (max-width: 599) {

  /* xl */
  .w-xl-90 {
    width: 90%;
  }
}

.sidemenulink {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 8px;
  cursor: pointer;
}